@import "tailwindcss";

html {
	scroll-behavior: smooth;
	scroll-padding-top: 1rem;
}

body {
	overflow-x: hidden;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}
